@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px

// --- Colors ---
$color-main: #000041;
$color-text: #000041;
$color-base: #000;
$color-accent: #000;
$color-bg: #000;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 1024px
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}

// figmaのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function lsf($xd-value) {
    @return #{math.div($xd-value, 100)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width

@mixin main-inner($mw: 980px, $w: 95%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin inner($mw: 900px, $w: 95%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin side-inner($mw: 1280px, $w: 95%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin title () {
    color: $color-main;
    padding-top: rem(90);
    writing-mode: vertical-rl;
    font-size: rem(12);
    font-weight: bold;
    letter-spacing: 0.4em;
    position: fixed;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 80px;
        background-color: #000;
    }
}

// =================================================================
//  共通部分
// =================================================================

// .is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     transition: opacity 0.4s ease;
// }

// .toc-btn,
// .header__nav,
// .header__title {
//     transition: opacity 0.4s ease;
// }

.header {
    &__inner {
        @include side-inner();
    }

    &__title {
        @include title();
    }

    &__nav {
        position: fixed;

        &--list {
            margin-top: rem(430);
            list-style: none;
            padding: 0;
        }

        li {
            position: relative;
            padding-left: rem(40);
            margin-bottom: rem(16);
            font-size: rem(16);

            a {
                color: $color-main;
                text-decoration: none;
                display: inline-block;


                &:hover {
                    font-weight: bold;
                }

                &.is-active {
                    font-weight: bold;
                }
            }

            &::before {
                content: "";
                position: absolute;
                left: 1%;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 1px;
                background-color: $color-main;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:hover::before {
                opacity: 1;
            }

            &.is-active::before {
                opacity: 1;
            }
        }
    }
}

.toc-btn {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 70px;
    height: 70px;
    border: 1px solid $color-main;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: rem(12);
        letter-spacing: 0.2em;
    }
}

.footer {
    color: $color-main;

    &__inner {
        width: 90%;
        max-width: rem(350);
        margin-right: auto;
        margin-left: auto;
    }

    &__nav {
        margin-top: rem(400);
        margin-bottom: rem(150);
        display: flex;
        justify-content: center;
        column-gap: 40px;
    }

    &__navlist {
        writing-mode: vertical-rl;

        li {
            padding-right: rem(10);
            padding-left: rem(10);
        }

        &--work {
            position: relative;
            margin-top: rem(30);

            &::before {
                content: "";
                position: absolute;
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
                width: 1px;
                height: 20px;
                background-color: $color-main;
            }
        }
    }

    &__mail {
        display: inline-block;
        margin-bottom: rem(120);
        font-size: rem(18);
        text-align: center;
        max-width: 350px;
        padding: rem(10) rem(45);
        border-radius: rem(40);
        border: 1px solid $color-main;
    }

    &__copy {
        margin-bottom: rem(50);
        text-align: center;
        font-size: rem(12);
        font-weight: bold;
    }
}

.list {

    &__title {
        font-size: rem(16);
        font-weight: bold;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 4fr;
        column-gap: rem(40);
        row-gap: rem(40);
        border-bottom: 1px dotted $color-main;
        padding-top: rem(15);
        padding-bottom: rem(15);

        &:last-child {
            border-bottom: none;
        }
    }
}

// =================================================================
//  single
// =================================================================

.mainvisual {
    &__inner {
        @include main-inner();
        display: grid;
        grid-template-columns: 430fr 550fr;
    }

    &__titles {
        margin-top: rem(380);
        align-items: center;
    }

    &__title {
        font-size: rem(30);
        font-weight: bold;
    }

    &__tag {
        font-size: rem(14);
    }
}

.explanation {
    &__inner {
        @include main-inner();
    }

    &__about {
        display: grid;
        grid-template-columns: 450fr 490fr;
        column-gap: rem(100);
        margin-top: rem(100);
    }

    &__title {
        font-size: rem(28);
        font-weight: bold;
        margin-top: rem(140);
        padding-bottom: rem(10);
        margin-bottom: rem(10);
        border-bottom: 1px solid $color-main;
    }

    &__subtitle {
        margin-top: rem(100);
        margin-bottom: rem(30);
        padding: rem(5) rem(13) rem(5);
        font-size: rem(20);
        font-weight: bold;
        border: 1px solid $color-main;
    }

    &__tag {
        font-size: rem(18);
    }

    &__version {
        display: grid;
        row-gap: rem(50);
    }

    &__heading {
        position: relative;
        font-size: rem(20);
        font-weight: bold;
        margin-bottom: rem(15);
        margin-left: rem(30);

        &::before {
            content: "";
            position: absolute;
            top: 15px;
            left: -30px;
            width: 25px;
            height: 2px;
            background-color: $color-main;
        }
    }
}

// =================================================================
//  works
// =================================================================


.works {
    padding-top: rem(350);
    padding-left: rem(100);

    &__inner {
        @include inner();
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: rem(100);
        row-gap: rem(100);
        margin: 0 auto;
    }
}

.post {
    &__img {
        margin-bottom: rem(25);
    }

    &__title {
        font-size: rem(16);
        margin-bottom: rem(7);
        padding-bottom: rem(7);
        border-bottom: 1px solid $color-main;
    }

    &__tag {
        font-size: rem(12);
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: rem(20);
    }
}